*,html,body{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

header{
    background:#1A2238;
    color:#eaeaea;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items:center;
    gap:10px;
}

.logo{
    margin-right:auto;
    display:flex;
    gap:5px;
}
.logo-img{
    width:8%;
    height:8%;
    margin-left:20px;
}

.logo-title{
    padding-top: 15px;
    cursor:pointer;
    transition:ease-in-out .5s;
    font-size: large;
}

.logo:hover{
    color:#FF6A3D;
    transform:rotate(1deg);
}

.btn-cta{
    margin-right:10px;
    border:none;
    font-size:15px;
    padding:6px 12px;
    background:#FF6A3D;
    color:#eaeaea;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
}


nav ul{
    display:flex;

}
li{
    list-style-type: none;
    padding:20px;
}

li a{
    transition:ease-in-out .5s;
    display:inline-block;
}

li a:hover{
    color:#FF6A3D;
    transform:rotate(2deg);
}

a{
    color: #eaeaea;
    text-decoration:none;
}

.container{
    max-width:1200px;
    margin:0 auto;
    padding:60px 0;
}

.intro{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.title{
    font-size:24px;
    font-weight: bold;
    margin-top: 20px;
}

.description{
    font-size:18px;
    font-style: italic;
    margin-bottom: 25px;
}

.img-foto{
    width:60%;
    height:60%;
    border-radius: 10px;
    box-shadow:2px 2px 2px 2px rgba(0,0,0,0.5);
}

.parallax{
    background-image:url('assets/images/jerrenbg.jpg');
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    height:100vh;
}

.about{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:#eaeaea;
    background:#1A2238;
    padding:15px;
}

.mt-10{
    margin-bottom:20px;
}

.card{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:8px;
}

.card-item{
    width:20%;
    text-align: center;
    background:#eaeaea;
    color:#222;
    padding:20px;
    box-shadow:2px 2px 2px 2px rgba(0,0,0,0.5);
}

.icon{
    width:25%;
    height:25%;
    margin:10px;
    padding:4px;
}

.card-title{
    font-size:16px;
    font-weight: bold;
}

.card-description{
    font-size:14px;
    font-style:italic;
    margin-top:5px;
}

footer{
    padding:8px;
    text-align: center;
    background:#1A2238;
    color:#eaeaea;
}

@media screen and (max-width:500px){
    .card{
        flex-direction: column;
        gap:0px;
    }
    .card-item{
        width:auto;
        max-height: 148px;
        opacity: 0.9;
    }
    .container{
        width:100%;
        padding:0px;
    }
    .intro{
        margin-top:20px;
    }
    .img-foto{
        padding:0;
        margin-bottom: 30px;
    }

    .logo-img{
        margin-top:10px;
    }
    .footer{
        margin-bottom:70px;
        margin-top:70px
    }
    nav{
        position:fixed;
        bottom:0;
        width:100%;
        background: #1A2238;
        z-index:9;
    }
    footer{
        margin-top:80px;
        margin-bottom: 70px;
    }
    body{
        width:auto;
    }
    .btn-cta{
        margin-bottom: 5px;
    }
   
}
